/**
 * Custom styles
 */
 
.form-horizontal .select2-container {
	width: 254px;
}

.form-horizontal input[type="text"]:not ([id*='-'] ) {
	width: 240px;
}

textarea {
	width: 463px;
	height: 120px;
}

#chart {
	text-align: center;
}

.row-fluid.row-metaAttribute {
	margin-bottom: 15px;
}

.row-fluid.show-grid {
	margin-top: 10px;
	margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 50px;
}

footer {
	text-align: center;
}

/**
 * Slider width
 */

input[type="range"] {
    width: 463px;
}

.row-attribute {
	margin-bottom: 15px;
}

/**
 * Bootstrap customization
 */
 
body {
	padding-top: 60px;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	background-color: #fff
}
 
.navbar .brand {
	color: #fff;
	font-family: museo-slab, "Helvetica Neue", Helvetica, Arial, sans-serif
}

h1,h2,h3,h4,h5,h6 {
	font-family: museo-slab, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.page-header {
	padding-bottom: 9px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #eee
}

input,button,select,textarea {
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.jumbotron .btn-large {
	font-family: museo-slab, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	padding: 13px 23px 13px 22px;
	margin-right: 10px;
	text-align: left
}

.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),
		to(#e6e6e6) );
	background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image: -o-linear-gradient(top, #fff, #e6e6e6);
	background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffe6e6e6', GradientType=0 );
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #e6e6e6;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
	border: 1px solid #bbb;
	*border: 0;
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*margin-left: .3em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px
		rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px
		rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px
		rgba(0, 0, 0, .05)
}

.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled] {
	color: #333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9
}

.btn:active,.btn.active {
	background-color: #ccc \9
}

.btn:first-child {
	*margin-left: 0
}

.btn:hover {
	color: #333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear
}

.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.btn.active,.btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
		rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
		rgba(0, 0, 0, .05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
		rgba(0, 0, 0, .05)
}

.btn.disabled,.btn[disabled] {
	cursor: default;
	background-image: none;
	opacity: .65;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.btn-large {
	padding: 11px 19px;
	font-size: 17.5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}

.btn-large [class^="icon-"],.btn-large [class*=" icon-"] {
	margin-top: 4px
}

.btn-small {
	padding: 2px 10px;
	font-size: 11.9px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.btn-small [class^="icon-"],.btn-small [class*=" icon-"] {
	margin-top: 0
}

.btn-mini [class^="icon-"],.btn-mini [class*=" icon-"] {
	margin-top: -1px
}

.btn-mini {
	padding: 0 6px;
	font-size: 10.5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 10px;
}

.btn-block+.btn-block {
	margin-top: 5px
}

input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block
	{
	width: 100%
}

.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active
	{
	color: rgba(255, 255, 255, 0.75)
}

.btn {
	border-color: #c5c5c5;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15)
		rgba(0, 0, 0, 0.25)
}

.btn-primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #e7d785;
	background-image: -moz-linear-gradient(top, #fffeb8, #c49c38);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fffeb8),
		to(#c49c38) );
	background-image: -webkit-linear-gradient(top, #fffeb8, #c49c38);
	background-image: -o-linear-gradient(top, #fffeb8, #c49c38);
	background-image: linear-gradient(to bottom, #fffeb8, #c49c38);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffffeb8',
		endColorstr='#ffc49c38', GradientType=0 );
	border-color: #c49c38 #c49c38 #896d27;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #c49c38;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]
	{
	color: #000;
	background-color: #c49c38;
	*background-color: #b08c32
}

.btn-primary:active,.btn-primary.active {
	background-color: #9c7c2d \9
}

.btn-warning {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450),
		to(#f89406) );
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450',
		endColorstr='#fff89406', GradientType=0 );
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #f89406;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]
	{
	color: #fff;
	background-color: #f89406;
	*background-color: #df8505
}

.btn-warning:active,.btn-warning.active {
	background-color: #c67605 \9
}

.btn-danger {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #cc4036;
	background-image: -moz-linear-gradient(top, #dc4e44, #b32b21);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc4e44),
		to(#b32b21) );
	background-image: -webkit-linear-gradient(top, #dc4e44, #b32b21);
	background-image: -o-linear-gradient(top, #dc4e44, #b32b21);
	background-image: linear-gradient(to bottom, #dc4e44, #b32b21);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc4e44',
		endColorstr='#ffb32b21', GradientType=0 );
	border-color: #b32b21 #b32b21 #721c15;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #b32b21;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]
	{
	color: #fff;
	background-color: #b32b21;
	*background-color: #9d261d
}

.btn-danger:active,.btn-danger.active {
	background-color: #872119 \9
}

.btn-success {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462),
		to(#51a351) );
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',
		endColorstr='#ff51a351', GradientType=0 );
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #51a351;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]
	{
	color: #fff;
	background-color: #51a351;
	*background-color: #499249
}

.btn-success:active,.btn-success.active {
	background-color: #408140 \9
}

.btn-info {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de),
		to(#2f96b4) );
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',
		endColorstr='#ff2f96b4', GradientType=0 );
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #2f96b4;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]
	{
	color: #fff;
	background-color: #2f96b4;
	*background-color: #2a85a0
}

.btn-info:active,.btn-info.active {
	background-color: #24748c \9
}

.btn-inverse {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: -moz-linear-gradient(top, #444, #222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444),
		to(#222) );
	background-image: -webkit-linear-gradient(top, #444, #222);
	background-image: -o-linear-gradient(top, #444, #222);
	background-image: linear-gradient(to bottom, #444, #222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',
		endColorstr='#ff222222', GradientType=0 );
	border-color: #222 #222 #000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #222;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.btn-inverse:hover,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]
	{
	color: #fff;
	background-color: #222;
	*background-color: #151515
}

.btn-inverse:active,.btn-inverse.active {
	background-color: #080808 \9
}

.btn-primary,.btn-github {
	color: #333;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25)
}

.btn-primary:hover,.btn-github:hover {
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
	color: #333
}

@font-face {
	font-family: 'museo-slab';
	src: url('../font/museo_slab_300-webfont.eot');
	src: url('../font/museo_slab_300-webfont.eot?#iefix')
		format('embedded-opentype'), url('../font/museo_slab_300-webfont.ttf')
		format('truetype');
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'museo-slab';
	src: url('../font/museo_slab_500-webfont.eot');
	src: url('../font/museo_slab_500-webfont.eot?#iefix')
		format('embedded-opentype'), url('../font/museo_slab_500-webfont.ttf')
		format('truetype');
	font-weight: bold;
	font-style: normal
}

@font-face {
	font-family: 'proxima-nova';
	src: url('../font/proximanova-webfont.eot');
	src: url('../font/proximanova-webfont.eot?#iefix')
		format('embedded-opentype'), url('../font/proximanova-webfont.ttf')
		format('truetype');
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'proxima-nova';
	src: url('../font/proximanova-sbold-webfont.eot');
	src: url('../font/proximanova-sbold-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../font/proximanova-sbold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal
}