<!DOCTYPE html>
<f:view xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:s="http://jboss.org/schema/seam/taglib"
   contentType="text/html" 
   locale="#{language.locale}">
<h:html>
   <h:head>
         <meta charset="utf-8"/>
         <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
         <title>@projectName@</title>
         <meta name="description" content=""/>
         <meta name="viewport" content="width=device-width"/>

         <link rel="shortcut icon" href="#{request.contextPath}/favicon.ico"/>
         <link rel="stylesheet" href="#{request.contextPath}/static/css/bootstrap-2.3.1.min.css"/>
         <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
         </style>
         <link rel="stylesheet" href="#{request.contextPath}/static/css/bootstrap-responsive-2.3.1.min.css"/>

         <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->     
         <h:outputText value="&lt;!--[if lt IE 9]&gt;&lt;script src=&quot;http://html5shim.googlecode.com/svn/trunk/html5.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;&lt;![endif]--&gt;" escape="false" />
         <h:outputText value="&lt;!--[if lte IE 9]&gt;&lt;script src=&quot;#{request.contextPath}/static/js/placeholder.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;&lt;![endif]--&gt;" escape="false" />

      <ui:insert name="css"/>
      
      
      <!-- Script -->
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   </h:head>
   <h:body>
      <ui:include src="menu.xhtml">
         <ui:param name="projectName" value="@projectName@"/>
      </ui:include>
      <div class="container">
         <ui:fragment rendered="#{!facesContext.validationFailed}">
            <ui:repeat var="message" value="#{facesContext.messageList}">
               <div class="alert #{message.severity == 'ERROR 2' ? 'alert-error' : ''} #{message.severity == 'INFO 0' ? 'alert-info' : ''} fade in">
                  <a class="close" data-dismiss="alert">×</a> #{message.detail}
               </div>
            </ui:repeat>
         </ui:fragment>
         <ui:insert name="body"/>
         <hr/>
         <footer>
            <p>Powered by <a href="http://seamframework.org">Seam</a> #{org.jboss.seam.version} and Evonove seam generator</p>
          </footer>
      </div>
      
      <script src="#{request.contextPath}/static/js/bootstrap-2.3.1.min.js"></script>
      <ui:insert name="script" />
   </h:body>
</h:html>
</f:view>
