<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.org/schema/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="/layout/template.xhtml">

    <ui:param name="showGlobalMessages" value="false"/>
    <ui:define name="body">

        <h1>Error</h1>
        <p>Something bad happened :-(</p>

        <h:messages id="errorMessage" styleClass="message"/>

    </ui:define>
</ui:composition>
