<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.org/schema/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="/layout/template.xhtml">

    <ui:define name="body">
        <div class="well">
            <div class="row-fluid">
                <h1>Welcome to Seam!</h1>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <h:graphicImage value="/static/img/logo.png" alt="Seam logo" />
                </div>
                <div class="span10">
                    <p><strong>Your seam-gen project is deployed!</strong> Here are some of the features this project provides:</p>
                    <ul class="bullets">
                        <li>Ant build script</li>
                        <li>Deployment to JBoss AS 7(EAR or WAR)</li>
                        <li>Development and production profiles</li>
                        <li>Integration testing using TestNG and Embedded JBoss</li>
                        <li>JavaBean or EJB 3.1 Seam components</li>
                        <li>JPA entity classes</li>
                        <li>A configurable DataSource and JPA EntityManager</li>
                        <li>Templated Facelets views</li>
                        <li>RichFaces 4 panels and tables</li>
                        <li>Default CSS stylesheet</li>
                        <li>Internationalization support</li>
                    </ul>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
