<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.org/schema/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="/layout/template.xhtml">

<ui:define name="body">

    <rich:panel>
        <f:facet name="header">@masterPageName@</f:facet>

        <div class="results">

            <h:outputText value="No @componentName@ exists"
                       rendered="#{empty @listName@.resultList}"/>

            <h:dataTable id="@listName@" var="@componentName@"
                      value="#{@listName@.resultList}"
                   rendered="#{not empty @listName@.resultList}">
                <h:column>
                    <f:facet name="header">Id</f:facet>
                    #{@componentName@.id}
                </h:column>
                <h:column>
                    <f:facet name="header">Name</f:facet>
                    <s:link id="@componentName@"
                         value="#{@componentName@.name}"
                   propagation="none"
                         view="/admin/@pageName@.xhtml">
                        <f:param name="@componentName@Id"
                                value="#{@componentName@.id}"/>
                    </s:link>
                </h:column>
            </h:dataTable>

        </div>

    </rich:panel>

    <div class="actionButtons">
        <s:button id="done"
               value="Create @componentName@"
                view="/admin/@pageName@.xhtml"/>
    </div>

</ui:define>

</ui:composition>
